{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--
        <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap-grid.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css' %}"/>
        -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>



        {% block script %}{% endblock %}
          
        
        <link rel="stylesheet" href="{% static 'pizza_static/styles.css' %}"/>

        <title>{% block title %}{% endblock %} -  Pinnochio's Pizza & Subs </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
            <a class="navbar-brand" href="#">
                <center>
                    <h3 class="logo1"><i class="fas">&#xf818;</i> Pinnochio's</h3>
                    <h6 class="logo2">PIZZA & SUBS</h6>
                </center>
            </a>
            <center>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          </center>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}"><i class="fas">&#xf818;</i> MENU</a>
                  </li>
                  
                
                {% block nav_right %}      
                {% endblock %}
              </ul>    
                
            </div>
          </nav>
        

        {% block body %}
        {% endblock %}

<!------------------------------------------------Modal Edit--------------------------------------------------------------->

<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Info</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id ="edit_form" action="{% url 'edit' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label >First Name:</label>
                <input class="form-control" id="sign_fname" placeholder="Enter first name ..." name="sign_fname">
              </div>
              <div class="form-group">
                <label >Last Name:</label>
                <input class="form-control" id="sign_lname" placeholder="Enter last name ..." name="sign_lname">
              </div>
              <div class="form-group">
                <label for="pwd">Mobile Number:</label>
                <input type="tel" class="form-control" id="sign_num" name="sign_num" placeholder="Enter mobile number ..." pattern="[0-1]{2}[0-9]{9}" required>   
              </div>
              <div class="form-group">
                <label >Address:</label>
                <input class="form-control" id="address" placeholder="Enter address ..." name="address" required>
              </div>
              <center><br><button type="submit" class="btn btn-primary btn-lg btn-custome">Submit</button></center>
            </form>
      </div>
      
    </div>
  </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------------->



<script>
  function edit_modal(item_name, item_id, extras, item_toppings) {
    $("#edit_modal").modal('show');
  }
   
</script>
      

        <!-- jQuery first, then Tether, then Bootstrap JS. 
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js' %}"></script>-->
    </body>
</html>
